@model PhotoContest.Web.Models.ContestModels.ViewModels.ContestFullDetailsModel
@*TODO Fix this view*@

<div>
    <h4>Contest @Model.Title Details</h4>
    <hr />
    @Html.LabelFor(m => m.Title)
    @Html.DisplayFor(m => m.Title)
    <br />

    @Html.LabelFor(m => m.Description)
    @Html.DisplayFor(m => m.Description)
    <br />

    @Html.LabelFor(m => m.Owner)
    @Html.DisplayFor(m => m.Owner)
    <br />

    @Html.LabelFor(m => m.DeadlineDate)
    @Html.DisplayFor(m => m.DeadlineDate)
    <br />

    @Html.LabelFor(m => m.MaxNumberOfParticipants)
    @Html.DisplayFor(m => m.MaxNumberOfParticipants)

    <br />

    @Html.LabelFor(m => m.VotingStrategyType)
    @Html.DisplayFor(m => m.VotingStrategyType)
    <br />

    @Html.LabelFor(m => m.ParticipationStrategyType)
    @Html.DisplayFor(m => m.ParticipationStrategyType)

    <br />
    @if (Model.Pictures.Any())
    {
        <h3>Pictures</h3>
        <div class="row">
            @Html.DisplayFor(m => m.Pictures)
        </div>
    }


</div>
<p>
    @if (Model.CanEdit)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    }

    @Html.ActionLink("Back", "Index", "Home")
</p>
