@model PhotoContest.Web.Models.PictureViewModel

<div id="vote-modal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="vote-modal-content">
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="delete-modal-content">
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="@Model.Url" alt="picture" />
        <div class="caption">
            <h3>@Html.LabelFor(m => m.Author) @Html.DisplayFor(m => m.Author)</h3>
            <p>Posted on: @Model.CreatedOn</p>
            <label for="picture-rating-@Model.Id">Rating: </label>
            <span id="picture-rating-@Model.Id">@Model.Rating</span>
            <p>@Model.DisplayRating</p>
            <div class="star-ratings-sprite"><span style="width: @Model.DisplayRating%" id="details-star-rating-@Model.Id" class=" rating"></span></div>
            @if (Convert.ToBoolean(ViewData["canVote"]))
            {
                @Html.ActionLink("Vote", "Vote", "Contest", new { id = Model.Id }, new { @class = "btn btn-default", data_modal = "vote" })
            }
            @if (Convert.ToBoolean(ViewData["canEdit"]) || Model.Author == this.User.Identity.Name)
            {
                <a href=@Url.Action("DeletePicture", "Upload", new { id = Model.Id }) class="btn btn-danger glyphicon glyphicon-trash" data-modal="delete"></a>
            }
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/modals")

<script>
    invokeModalForm('vote-modal-content', 'vote-modal', "vote");
    invokeModalForm('delete-modal-content', 'delete-modal', "delete");
</script>

